node_modules/
/test-results/

# Azure Functions
api/bin/
api/obj/
api/.azurefunctions/
api/__azurite_db*__.json
api/__blobstorage__/
api/__queuestorage__/

# Azurite local storage
.azurite/
__azurite_db*__.json
__blobstorage__/
__queuestorage__/
__tablestorage__/

# .NET
*.swp
*.*~
project.lock.json
.DS_Store
*.pyc

.vs/